/* RESET */
* {
    box-sizing: border-box;
    padding: 0;
    margin:0 ;
  }
  
  body {
    background-color: black;
    background-position: center;
    color: lightsteelblue;
    font-variant: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 2rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1,1em;
    line-height: 1.3;
  }
  
  a  {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1em;
    line-height: 1.3em;
  }
  
  header {
    padding-top: 1em;
    padding-bottom: 4em;
    display: flex;  
    justify-content: right;
    color: whitesmoke;
    font-weight: bold;
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  section {
    padding: 5rem 0;
    display: flex;
  }
  
  section header {
    width: 30%;
    font-size: small;
    text-align: center;
  }
  
  section header h2 {
    padding: 0 1rem;
    color: rgb(146, 146, 125);
    
  }
  
  /* MAIN NAV */
  .headernav {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    padding: 1em 0;
  }
  
  .headernav ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .headernav li {
    list-style: none;
    margin: 0 1rem;
  }
  
  .headernav a {
    color: rgb(146, 146, 125);
    text-decoration: none;
  }
  
  .headernav a:hover { 
    background-color: rgb(72, 114, 103);
    font-stretch: normal;
    color:wheat;
  }
  /*Self image Header */
  .selfimage {
      background-color: black;
    
  }
  .selfimage img {
    display: flex;
    width: 10em;
    height: 11em;
    overflow: hidden;
    border-radius: 50%;

}
  /* MAIN HEADER */
  .main-header {
    display: flex;
    justify-content: center;
    padding: 0.3em;
    font-size: large;
  }
  
  /* IMAGES */
  .image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  
 .image-container {
    display: flex;
    align-items: flex-end;
    max-height: 200px; 
    min-height: 200px;
    border:1px solid white;
    transition: all .3s ease;
  }
  
  .image-container:hover {
    box-shadow: 0 .2rem .5rem white;
  }
  
  .image-1 {
    grid-column: 1/3;
    background-image: url(./codeblack.jpg);
  }
  .image-2 {
      background-image: url(./1DF61247-2A5C-491A-8838-FC1CACC16C9D.jpeg);
  }
  .image-3 {
      background-image: url(./html5.png);
  }
  .image-4 {
      background-image: url(./jslog.jpg);
  }
  .image-5 {
    background-image: url(./react.png);
     
  }
  .content {
    width: 70%;
    padding: 0 1rem;
  }
  .content  {
    width: 70%;
    padding: 0 1rem;
    float: left;

  }
  
  .footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
  }
  
  .footer h2 {
    font-size: 20px;
  }
  
  
  /* MEDIA QUERIES */
  
  @media (max-width: 800px) {
    /* stack sidebar with main content */
    section {
      flex-direction: column;
    }
  
    /* make content full width */
    h1 {
      font-size: 2rem;
    }
  
    section header {
      font-size: 1.2rem;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 1rem;
    }
  
    .content {
      width: 100%;
      padding: 0 1rem;
    }
  
  
    /* span all images one column */
    .image-grid .image-container {
      grid-column: 1/3;
      margin: .5rem 0;
    }
  }